# Database Credentials
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=secret

# Message Broker Credentials
RABBITMQ_USER=admin
RABBITMQ_PASS=secret

# Cache Credentials
REDIS_PASSWORD=secret

# Application Secrets
JWT_SECRET=supersecretjwtkey12345
