# Server Configuration
NODE_ENV=development
PORT=3000
GATEWAY_TCP_PORT=4000

# MongoDB
MONGODB_URI=mongodb://localhost:27017/dedisalam

# Redis (Caching & Session Storage)
REDIS_URL=redis://localhost:6379

# RabbitMQ (Microservice Message Broker)
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Security / Authentication
JWT_SECRET=please_change_this_to_a_secure_random_string_in_production
