# Server Configuration
NODE_ENV=development
PORT=3000
GATEWAY_TCP_PORT=4000

# MongoDB
MONGODB_URI=mongodb://root:4r!M4n3hKuN40n@localhost:27017/dedisalam?authSource=admin

# Redis (Caching & Session Storage)
REDIS_URL=redis://:4r!M4n3hKuN40n@localhost:6379

# RabbitMQ (Microservice Message Broker)
RABBITMQ_URL=amqp://guest:4r!M4n3hKuN40n@localhost:5672

# Security / Authentication
JWT_SECRET=please_change_this_to_a_secure_random_string_in_production

# Infrastructure Initialization Credentials
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=4r!M4n3hKuN40n
RABBITMQ_USER=guest
RABBITMQ_PASS=4r!M4n3hKuN40n
REDIS_PASSWORD=4r!M4n3hKuN40n
